.app {
    padding-bottom: 35px;

    &__container {
        display: flex;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        max-width: 300px;


        &--treat {
            padding-top: 39px;
            padding-bottom: 57px;
            padding-left: 37px;
            padding-right: 37px;
            background: #FFD600;
        }

        &--treat::before {
            content: "";
            width: 87px;
            height: 86px;
            display: block;
            background-image: url("../img/teeth.png");
            background-repeat: no-repeat;
            margin-bottom: 19px;
        }

        &--pros {
            padding-top: 39px;
            padding-bottom: 32px;
            padding-left: 49px;
            padding-right: 49px;
            background: #FFE040;
        }

        &--pros::before {
            content: "";
            width: 87px;
            height: 86px;
            display: block;
            background-image: url("../img/mouse.png");
            background-repeat: no-repeat;
            margin-bottom: 19px;
        }
    }

    &__item-title {
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #272727;
        margin-top: 0;
        margin-bottom: 4px;
    }

    &__item-text {
        margin-top: 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        color: #272727;

        &--treat {
            max-width: 227px;
        }

        &--pros {
            max-width: 201px;
        }
    }
}