.hero {
    margin-top: 124px;
    padding-top: 270px;
    padding-bottom: 318px;
    position: relative;
    z-index: 1;
    overflow-x: hidden; 
    overflow-y: hidden;
    position: relative;
    z-index: 1;

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__img {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .hero__container {
        position: relative;
        z-index: 5;
    }

    &__buttons {
        position: absolute;
        z-index: 5;
        top: calc(50% + 340px);
    }

    &__left {
        width: 42px;
        height: 70px;
        border: none;
        background-color: transparent;
        margin-right: 6px;
        padding: 0;
        background-image: url("../img/prev.svg");
        background-repeat: no-repeat;
    }

    &__left:hover {
        opacity: 0.8;
    }

    &__left:active {
        opacity: 0.6;
    }

    &__right {
        width: 70px;
        height: 70px;
        border: none;
        background-color: transparent;
        padding: 0;
        background-image: url("../img/next.svg");
        background-repeat: no-repeat;
    }

    &__right:hover {
        opacity: 0.8;
    }

    &__right:active {
        opacity: 0.6;
    }

    &__content {
        position: relative;
        z-index: 55;
    }

    &__text {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #272727;
    }

    &__title {
        max-width: 543px;
        margin-top: 0;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        text-transform: uppercase;
        color: #272727;
    }

    &__link {
        text-decoration: none;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 24px 115px;
        background-color: #0055B8;
        border-radius: 5px;
    }

    &__link:hover {
        opacity: 0.8;
    }

    &__link:active {
        opacity: 0.6;
    }
}

@media only screen and (max-width: 1024px) {
    .hero {
        margin-top: 65px;
    }
}

@media only screen and (max-width: 1023px) {
    .hero {
        margin-top: 65px;
        padding-top: 0;
        padding-bottom: 0;

        &__title {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 650px;
        }

        &__text {
            text-align: center;
            margin-top: 10px;
        }

        &__link {
            display: none;
        }

        &__buttons {
            top: calc(50% + 600px);
        }
    }

    .hero__img {
        position: relative;
        z-index: 1;
    }
}

@media only screen and (max-width: 810px) {
    .hero__buttons {
        top: calc(50% + 450px);
    }
}

@media only screen and (max-width: 700px) {
    .hero__buttons {
        top: calc(50% + 400px);
    }
}

@media only screen and (max-width: 570px) {
    .hero__buttons {
        top: calc(50% + 340px);
    }
}

@media only screen and (max-width: 520px) {
    .hero__text {
        line-height: 25px;
    }

    .hero__title {
        font-size: 30px;
        line-height: 35px;
    }

    .hero__right {
        background-image: url("../img/btnnext.svg");
        width: 44px;
        height: 44px;
    }

    .hero__left {
        background-image: url("../img/btnprev.svg");
        width: 27px;
        height: 44px;
        margin-right: 0;        
    }
}

.body--nojs .hero {
    padding-top: 455px;
}

@media only screen and (max-width: 475px) {
    .hero__buttons {
        top: calc(50% + 300px);
    }
}

@media only screen and (max-width: 425px) {
    .hero__buttons {
        top: calc(50% + 260px);
    }
}

@media only screen and (max-width: 375px) {
    .hero__buttons {
        top: calc(50% + 480px);
    }
}

@media only screen and (max-width: 440px) {
    .hero__buttons {
        top: calc(50% + 260px);
    }
}

@media only screen and (max-width: 375px) {
    .hero__buttons {
        top: calc(50% + 470px);
    }
}