.location {
    position: relative;
    z-index: 1;
    padding-top: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__container {
        position: relative;
        z-index: 1;
    }

    &__link {
        position: relative;
        z-index: 1;
    }

    &__map {
        position: absolute;
        z-index: 1;
        top: 130px;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        height: 760px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    &__form {
        background: #0055B8;
        border-radius: 5px;
        max-width: 541px;
        padding-top: 25px;
        padding-right: 34px;
        padding-bottom: 18px;
        padding-left: 33px;
        margin-top: calc(50% - 240px);
    }

    &__name {
        margin-top: 0;
        margin-bottom: 13px;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        color: #272727;
        text-align: center;
        position: relative;
        z-index: 1;

        &::before {
            content: "";
            width: 50px;
            height: 3px;
            background-color: #FFD600;
            display: block;
            margin-top: 10px;
            margin-bottom: 15px;
            position: absolute;
            z-index: 1;
            left: 48%;
            top: -58%;
        }

        &::after {
            content: "";
            width: 275px;
            height: 152px;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-image: url("../img/DP.png");
            background-repeat: no-repeat;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #4D4D4D;
        text-align: center;
        max-width: 879px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 27px;
    }
}

@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 

        .location__name::before {
            background-image: url("../img/DP@2x.png");
            background-size: contain;
        }
}

@media only screen and (max-width: 1024px) {
    .location__form {
        margin-left: 0;
    }
}

@media only screen and (max-width: 840px) {
    .location__map {
        height: 650px;
    }
}

@media only screen and (max-width: 700px) {
    .location__map {
        height: 600px;
        margin-top: 60px;
    }

    .location__form {
        margin-top: calc(50% - 190px);
    }
}

@media only screen and (max-width: 570px) {
    .location {
        display: flex;
        flex-direction: column;
    }

    .location__form {
        max-width: 455px;
        margin-left: auto;
        margin-right: auto;
    }

    .location__container {
        order: -1;
    }

    .location__map {
        position: relative;
        order: -1;
        z-index: 1;
        margin-top: -70px;
        max-width: 100%;
        flex-shrink: 0;
    }
}

@media only screen and (max-width: 495px) {
    .location__form {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 375px) {
    .location__map {
        height: 200px;
        margin-top: -100px;
    }

    .location__form {
        margin-top: 30px;
    }
}