.logo {
    display: none;
    text-decoration: none;
    padding-bottom: 22px;
    padding-top: 23px;

    &__text {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__yellow {
        color: #FFD600;
    }
}

.body--nojs .logo {
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .logo {
        display: block;
    }
}