.quality {
    padding-top: 32px;
    padding-bottom: 39px;
    position: relative;
    z-index: 1;
    overflow-x: hidden;

    &__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &__container::before {
        content: "";
        width: 750px;
        height: 600px;
        margin-right: -300px;
        background-image: url("../img/doctor.png");
        background-repeat: no-repeat;
    }

    &__content {
        margin-top: 150px;
    }

    &__name {
        margin-top: 0;
        margin-bottom: 22px;
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        color: #272727;
        position: relative;
        z-index: 1;

        &::before {
            content: "";
            width: 50px;
            height: 3px;
            background-color: #FFD600;
            display: block;
            margin-top: 10px;
            margin-bottom: 15px;
            position: absolute;
            z-index: 1;
            right: 4%;
            top: -26px;
        }

        &::after {
            content: "";
            width: 275px;
            height: 152px;
            position: absolute;
            z-index: -1;
            top: 15%;
            right: 1%;
            background-image: url("../img/DP.png");
            background-repeat: no-repeat;
        }
    }

    &__text {
        margin-top: 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        max-width: 782px
    }

    &__sign {
        display: flex;
        align-items: center;
        max-width: 762px;
        justify-content: flex-end;
        margin-bottom: 108px;
    }

    &__link {
        padding-top: 24px;
        padding-right: 85px;
        padding-bottom: 25px;
        padding-left: 88px;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        background-color: #0055B8;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 36px;
        flex-shrink: 0;
    }

    &__link:hover {
        opacity: 0.8;
    }

    &__link:active {
        opacity: 0.6;
    }
}

@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 

        .quality__name::before {
            background-image: url("../img/DP@2x.png");
            background-size: contain;
        }

        .quality__container::before {
            background-image: url("../img/doctor@2x.png");
            background-size: contain;
        }
}

@media only screen and (max-height: 1440px) {
    .quality__content {
        margin-right: 56px;
        margin-top: -90px;
        padding-left: 100px;
    }

    .quality__name {
        max-width: 491px;
    }

    .quality__text {
        max-width: 510px;
    }

    .quality__container::before {
        margin-right: -150px;
    }
}

@media only screen and (max-width: 970px) {
    .quality__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .quality__container::before {
        margin-right: 0;
        max-width: 100%;
    }

    .quality__content {
        padding-left: 70px;
    }

    .quality__name {
        max-width: 100%;
    }

    .quality__text {
        max-width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .quality__content {
        padding-left: 0;
    }
}

@media only screen and (max-width: 520px) {
    .quality__container::before {
        width: 524px;
        height: 349px;
        position: absolute;
        top: 5%;
    }

    .quality__content {
        padding-top: 380px;
        margin-right: 0;
    }

    .quality__link {
        padding-left: 42px;
        padding-right: 41px;
    }
}

@media only screen and (max-width: 375px) {
    .quality__container::before {
        background-image: url("../img/doctor-rs.png");
        content: "";
        width: 484px;
        height: 309px;
    }
}